
.comment {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;

  div:nth-child(1) {
    // border: 5px solid pink;
  }

  div:nth-child(2) {
    // border: 10px solid orangered;
  }

  div:nth-child(3) {

  }
}