@use '../abstracts/vars';
@use '../abstracts/mixins';

.post {
  width: 65%;
  // 100 - .user-details pad * 2, .post pad, .post margin
  // width: calc(33% - )
  width: calc(33% - 4rem);
  border: 1px solid green;

  padding: 2rem;
  margin: 2rem;

  @include mixins.respond(tab-port) {
    width: 100%;
    margin: 0;
    padding: 2rem 1rem;
  }

  div.post-title {
    font-size: vars.$bigger-font-size;
  }

  p {
    margin-left: 1rem;

    @include mixins.respond(tab-port){
      max-width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}