@use '../abstracts/vars';
@use '../abstracts/mixins';


.topbar {
  position: relative;
  width: 100%;
  height: vars.$topbar-height;
  
  flex-shrink: 0; 
  
  background-color: red;

  @include mixins.respond(tab-port) {
    position: fixed;
    height: vars.$topbar-height / 2;
    // top: vars.$dashboard-padding;
    // width: calc(100% - #{vars.$dashboard-padding});
  }
}