@use '../abstracts/vars';
@use '../abstracts/mixins';
@use 'sass:math';

.topbar {
  position: relative;
  width: 100%;
  height: vars.$topbar-height;

  display: flex; 
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  
  background-color: vars.$blue-alt;

  @include mixins.respond(tab-port) {
    position: fixed;
    height: math.div(vars.$topbar-height, 2);
  }

  h1 {
    margin-left: 2rem;

    @include mixins.respond(tab-port) {
      margin-left: 1rem;
    }
  }
}