@use '../abstracts/vars';
@use '../abstracts/mixins';

.user-card {
  height: 9rem;
  margin: 0.2rem 0;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  border-radius: 1rem;
  
  background-color: vars.$slightly-grey;

  &-photo {
    position: relative;
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    @include mixins.respond(tab-port) {
      width: 30%;
    }

    img {
      height: 70%;
    }
  }
  &-info {
    position: relative;
    // width: 85%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

    div {
      margin: 0.2rem 0;
    }

    &-email {
      color: vars.$email-blue;
    }
  }
}