@use '../abstracts/vars';
@use '../abstracts/mixins';

.user-card {
  height: 9rem;
  margin: 0.2rem 0;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  
  border-radius: 1rem;
  
  background-color: vars.$slightly-grey;

  &-photo {
    position: relative;
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    @include mixins.respond(tab-port) {
      width: 30%;
    }

    img {
      height: 70%;
    }
  }
  &-info {
    position: relative;
    width: 100%;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;

    div {
      margin: 0.2rem 0;
    }

    &-name {
      grid-column: 1;
      grid-row: 1;
      align-self:flex-end;
      height: min-content;
    }

    &-user-name {
      grid-column: 1;
      grid-row: 2;
      height: min-content;
    }

    &-email {
      grid-column: 2;
      grid-row: 1 / span 2;
      align-self: center;
      height: min-content;
      
      color: vars.$email-blue;
    }
  }
}