@use '../abstracts/vars';
@use '../abstracts/mixins';

.post-details {

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  &-title, &-body {
    margin: 1rem;
    width: 60%;
  }
 

  &-comments {
    width: 80%;
    padding: 2rem;
  }
}