@use '../abstracts/vars';
@use '../abstracts/mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;

  @include mixins.respond(phone) {
    font-size: 57%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
a:link{     color: vars.$email-blue; }
a:visited{  color: vars.$email-visited; }
a:hover{    color: vars.$email-hover-focus; }
a:active{   color: vars.$email-clicking; }
a:focus{    color: vars.$email-hover-focus; }

label {
  margin-right: 1rem;

  @include mixins.respond(tab-port) {
    margin-right: unset;
  }
}

select {
  appearance: none;
  width: 16rem;
  height: vars.$regular-font-size + 1rem;
  font-size: vars.$regular-font-size;
}


// label::after {
//   position: absolute;
//   content: '';
//   top: 3.8rem;
//   right: 4.6rem;
//   width: 0;
//   height: 0;
//   border-right: 0.6rem solid transparent;
//   border-left: 0.6rem solid transparent;
//   border-top: 0.6rem solid vars.$almost-black;
//   z-index: 10;

  
//   @include mixins.respond(tab-port) {
//     top: 11.9rem;
//     left: 14rem;
//   }

// }