@use '../abstracts/vars';
@use '../abstracts/mixins';

.dashboard {
  font-size: vars.$regular-font-size;
  color: vars.$almost-black;
}

.loading-div {
  font-size: 3.5rem;
}

.post {
  font-size: vars.$regular-font-size;

  div, a {
    font-size: vars.$bigger-font-size;
  }
}

.post-details {
  &-title, &-body {
    font-size: vars.$bigger-font-size;
  }
}

.user-card {
  font-size: vars.$regular-font-size;
}

.user-search-form-container {
  font-size: 2rem;
}

.user-details {
  font-size: vars.$regular-font-size;
}

.user-details-section {
  &-title {
    font-size: vars.$large-font-size;
  }
}

div[class$="-title"] {
  font-size: vars.$large-font-size;
  font-weight: 600;
}

.user-list-title-selected {
  color: vars.$email-blue;
}

// italicizing the company motto
.user-details-section-company {
  div:nth-child(3) {
    font-style: italic;
  }
}