$email-blue: #0c56d4;
$email-visited: #5c0cd4;
$email-clicking: #0a48b2;
$email-hover-focus: #0c7ad4;

$almost-black: #333;
$slightly-grey: #e5e5e5;
$sidebar-blue: #84a0fb;

$blue-root: #420d91;
$blue-alt: #452378;
$blue-root-complimentary: #91690d;

$root-tet-color-1: #91690d;
$root-tet-color-2: #5c910d;
$root-tet-color-3: #910d5c;

$sorta-custard: #f1b604;


$regular-font-size: 1.6rem;
$bigger-font-size: 2.2rem;
$large-font-size: 2.6rem;

$sidebar-width: 20rem;
$dashboard-padding: 2rem;
$topbar-height: 8rem;