@use './abstracts/vars';
@use './abstracts/mixins';

@use './base/base';

@use './components/user-card';
@use './components/user-search-form';
@use './components/topbar';
@use './components/sidebar';
@use './components/post';
@use './components/comment';

@use './views/user-list';
@use './views/wall';
@use './views/user-details';
@use './views/post-details';


.dashboard {
  height: 100vh;
  padding: vars.$dashboard-padding calc(#{vars.$dashboard-padding} * 3);
  box-sizing: border-box;

  display: flex;
  flex-flow: row;
  align-items: flex-start;

  @include mixins.respond(tab-port) {
    padding: calc(#{vars.$dashboard-padding} / 2) vars.$dashboard-padding;
  }

  &-inner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;

    .dashboard-component-container {
      position: relative;
      width: 100%;
      height: calc(100vh - (#{vars.$dashboard-padding} * 2) - (#{vars.$topbar-height}));
      overflow: auto;
      // display: flex;
      // justify-content: center;
      // align-items: center;

      @include mixins.respond(tab-port) {
        top: vars.$dashboard-padding + vars.$topbar-height;
      }
    }
  }
}

.loading-div {
  font-size: 35px;
  width: 50rem;
  height: 50rem;
}