@use './abstracts/vars';
@use './abstracts/mixins';

@use './base/base';
@use './base/typography';

@use './components/user-card';
@use './components/user-search-form';
@use './components/topbar';
@use './components/sidebar';
@use './components/post';
@use './components/comment';
@use './components/user-details';
@use './components/loading-div';

@use './views/user-list';
@use './views/wall';
@use './views/post-details';

@use "sass:math";


.dashboard {
  height: 100vh;
  padding: vars.$dashboard-padding vars.$dashboard-padding*3;
  box-sizing: border-box;

  display: flex;
  flex-flow: row;
  align-items: flex-start;

  @include mixins.respond(tab-port) {
    padding: 0;
    width: 100vw;
  }

  &-inner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;

    .dashboard-component-container {
      position: relative;
      width: 100%;
      height: calc(100vh - (#{vars.$dashboard-padding} * 2) - (#{vars.$topbar-height}));
      overflow: auto;

      @include mixins.respond(tab-port) {
        top: math.div(vars.$topbar-height, 2);
        padding-top: 1rem;
        height: calc(100vh - 4rem);
      }
    }
  }
}
